html{
    box-sizing: border-box;
}
*, *::before, ::after{
    box-sizing: inherit;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
h3{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: 'PT Sans', 'Calibri', sans-serif;
}
h4{
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: 'PT Sans', 'Calibri', sans-serif;
}
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}
.main-block{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 15px 1px #737373;
}
.main-header{
    position: relative;
    min-height: 56px;
    padding-top: 1px;
    font-size: 0px;
}
.main-menu{
    padding: 0px;
    padding-top: 12px;
}
.main-menu li{
    float: left;
    width: 20%;
    height: 100%;
    list-style: none;
    text-align: center;
}
.main-menu li:nth-child(2){
    margin-right: 20%;
}
.main-menu a{
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.main-menu a:hover{
    color: #81b3d2;
}
.main-menu a:active{
    color: #b2b2b2;
}
.main-menu .locate{
    color: #766357;
}
.logotip{
    position: absolute;
    left: 531px;
    top: -1px;
    font-size: 0px;
    color: transparent;
    z-index: 10;
}
.main-image-sedona{
    position: relative;
    height: 508px;
    background-image: url(../img/background_photo.jpg);
    background-repeat: no-repeat;
    background-position: 0px -57px;
    background-color: #d4e4ee;
}
.main-image-sedona::before{
    content: "";
    position:absolute;
    bottom: 0px;
    height: 57px;
    width: 1200px;
    background-image: url(../img/Shape.png);
    background-repeat: no-repeat;
}
.sedona-img{
    position: absolute;
    width: 458px;
    height: 78px;
    top: 214px;
    left: 50%;
    margin-left: -229px;
}
.welcome{
    position: absolute;
    width: 256px;
    height: 86px;
    top: 76px;
    left: 50%;
    margin-left: -128px;
}
.sucks{
    position: absolute;
    width: 296px;
    height: 80px;
    top: 348px;
    left: 50%;
    margin-left: -148px;
}
.description{
    min-height: 216px;
    padding-top: 60px;
    padding-bottom: 1px;
    text-align: center;
}
.description h4{
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
}
.description p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
.block-advantage{
    min-height: 256px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
}
.block-advantage h4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.block-advantage p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.advantage-left{
    float: left;
    height: 256px;
    width: 400px;
    padding-top: 25px;
    background-color: #81b3d2;
}
.number{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
}
.advantage-left h4{
    margin-bottom: 25px;
    width: 125px;
}
.advantage-left .number{
    margin-bottom: 20px;
}
.advantage-left p{
    width: 290px;
}
.advantage-image{
    height: 256px;
    width: auto;
}
.row-menu{
    min-height: 330px;
}
.column-menu{
    position: relative;
    float: left;
    min-height: 330px;
    width: 400px;
    padding-top: 130px;
    text-align: center;
}
.housing::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    background-position: -20px -799px;
}
.food::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
    background-position: -20px -20px;
}
.souvenirs::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 167px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    background-position: -20px -1430px;
}
.column-menu a{
    display: block;
    margin-bottom: -7px;
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}
.column-menu p{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.advantage-right{
    float: right;
    height: 256px;
    width: 400px;
    padding-top: 26px;
    background-color: #81b3d2;
}
.advantage-right h4{
    margin-bottom: 25px;
    width: 155px;
}
.advantage-right .number{
    margin-bottom: 20px;
}
.advantage-right p{
    width: 320px;
}
.row-advantage{
    min-height: 256px;
    background-color: #eeeeee;
}
.column-advantage{
    float: left;
    min-height: 256px;
    width: 400px;
    text-align: center;
    padding: 0px 60px;
    padding-top: 20px;
    letter-spacing: 0.1px;
}
.column-advantage h4{
    display: block;
    margin-bottom: 21px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.number-row{
    display: block;
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: normal;
}
.column-advantage p{
    display: block;
    font-size: 14px;
    font-weight: normal;
}
.interested{
    position: relative;
    min-height: 290px;
    padding-top: 22px;
    padding-bottom: 1px;
    text-align: center;
}
.interested h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 27px;
}
.interested p{
    display: block;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}
.button-search{
    position: absolute;
    bottom: 0px;
    left: 316px;
    width: 567px;
    height: 85px;
    padding-top: 30px;
    background-color: #766357;
    text-decoration: none;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
}
.popup-form{
    display: none;
    position: absolute;
    top: 290px;
    left: 316px;
    min-height: 396px;
    width: 567px;
    box-shadow: 0 0 5px -1px #737373;
    background-color: #ffffff;
    z-index: 20;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    padding: 55px;
}
.popup-form-show{
    display: block;
    animation: bounce 0.4s;
}
::-webkit-input-placeholder{
    color: #000000;
}
::-moz-placeholder{
    color: #000000;
}
:-moz-placeholder{
    color: #000000;
}
:-ms-input-placeholder{
    color: #000000;
}
.popup-form-control{
    margin-bottom: 30px;
    position:relative
}
.popup-form-control::before{
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 22px;
    background-position: -20px -254px;
    cursor: pointer;
}
.popup-form-control:hover::before{
    background-position: -20px -130px;
}
.popup-form-control:active::before{
    background-position: -20px -192px;
}
.popup-form-control input{
    display: block;
    float: right;
    width: 346px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    padding: 12px;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.popup-form-control input:hover{
    background-color: #ebebeb;
}
.popup-form-control input:focus{
    background-color:#ffffff;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}
.popup-form-control label{
    float: left;
    margin-top: 5px;
}
.popup-form-control-half:nth-child(1){
    width: 50%;
    float: left;
}
.popup-form-control-half:nth-child(2){
    float: right;
    width: 176px;
}
.popup-form-control-half label{
    float: left;
    margin-top: 5px;
}
.popup-form-count{
    float: right;
    display: block;
    width: 114px;
    height: 38px;
    background-color: #f2f2f2;
    padding: 0px;
    font-size: 0px;
}
.popup-form-count input{
    width: 40px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.popup-form-count button{
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 38px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}
.minus{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -7px -1217px;
}
.minus:hover{
    background-position: -7px -1131px;
}
.minus:active{
    background-position: -7px -1174px;
}
.plus{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -7px -1365px;
}
.plus:hover{
    background-position: -7px -1263px;
}
.plus:active{
    background-position: -7px -1314px;
}
.popup-control-bottom{
    margin-bottom: 53px;
}
.button-popup{
    display: block;
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}
.button-popup:hover{
    background-color: #669ec1;
}
.button-popup:active{
    background-color: #5596be;
    color: #92bbd7;
}
@keyframes bounce {
    0% {
    transform: translateY(600px);
    }
    10% {
    transform: translateY(540px);
    }
    20% {
    transform: translateY(480px);
    }
    30% {
    transform: translateY(420px);
    }
    40% {
    transform: translateY(360px);
    }
    50% {
    transform: translateY(300px);
    }
    60% {
    transform: translateY(240px);
    }
    70% {
    transform: translateY(180px);
    }
    80% {
    transform: translateY(120px);
    }
    90% {
    transform: translateY(60px);
    }
    100% {
    transform: translateY(0px);
    }
}
.map{
    position: relative;
    height: 594px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-color: #f2f1ef;
}
.main-footer{
    margin-top: -120px;
    min-height: 120px;
    width: 1200px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.9;
}
.visit-sedona{
    float: left;
    width: 245px;
    margin-right: 82px;
    margin-left: 5px;
    margin-top: 45px;
    opacity: 1;
}
.visit-sedona a{
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.social-list{
    float: left;
    width: 400px;
    opacity: 1;
}
.social-net{
    margin-top: 35px;
    margin-right: 55px;
}
.social-net li{
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    text-align: center;
    font-size: 0px;
    color: transparent;
}
.social-btn{
    display:block;
    width: 46px;
    height: 48px;
    background-color: #82b3d3;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.social-btn:hover{
    background-color: #669ec0;
}
.social-btn:active{
    background-color: #5496bd;
}
.social-btn-twitter{
    background-position: -5px -1586px;
}
.social-btn-twitter:active{
    background-position: -5px -1756px;
}
.social-btn-fb{
    background-position: -2px -727px;
}
.social-btn-fb:active{
    background-position: -2px -1701px;
}
.social-btn-youtube{
    background-position: -7px -1642px;
}
.social-btn-youtube:active{
    background-position: -7px -1812px;
}
.development{
    margin-top: 45px;
    margin-right: 4px;
    float: right;
    width: 245px;
    opacity: 1;
    font-size: 0px;
    color: transparent;
}
.development span{
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
.development a{
    margin-right: 7px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 113px;
    height: 39px;
    background-position: -20px -911px;
}
.development a:hover{
    background-position: -20px -990px;
}
.development a:active{
    background-position: -20px -1069px;
}
.hotels-form{
    min-height: 216px;
    background-image: url(../img/filter_background.jpg);
    background-position: 0px -60px;
    background-repeat: no-repeat;
    background-color: #809dbd;
    border-top: 1px solid transparent;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 25px;
}
.form-checkboxes{
    float: left;
    width: 250px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.form-checkboxes-left{
    margin-right: 2px;
}
.form-checkboxes h4{
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 20px;
}
.checkboxes-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.checkboxes-list li{
    margin-top: 25px;
}
.checkboxes-list label{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.form-checkboxes-right label{
    padding-left: 45px;
}
.checkboxes-list input+label::before{
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-position: -20px -316px;
}
.checkboxes-list input:checked+label::before{
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 22px;
    background-position: -20px -378px;
}
.checkboxes-list input{
    display: none;
}
.range-filter{
    float: right;
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}
.range-filter span{
    display: block;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.price-controls{
    position: relative;
    margin-left: 10px;
    width: 320px;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0px;
}
.price-controls::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}
.price-controls label{
    display: inline-block;
    width: 158px;
    height: 34px;
    padding-left: 65px;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls label:nth-child(1){
    padding-left: 66px;
}
.price-controls label:nth-child(2){
    padding-left: 57px;
}
.price-controls input{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 34px;
    margin: 0px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.range-controls{
    position: relative;
    width: 320px;
    margin-left: 10px;
    margin-bottom: 32px;
}
.range-controls .scale{
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar{
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle{
    position: absolute;
    box-sizing: content-box;
    top:-9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-min{
    left: 0%;
}
.range-toggle-max{
    left: 80%;
}
.range-toggle:hover{
    background: #1c4f80;
}
.button-form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 137px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}
.button-form:hover{
    background-color: #ffffff;
    color: #000000;
}
.sorting-menu{
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    min-height: 87px;
    padding-top: 1px;
    padding-left: 72px;
    padding-right: 72px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}
.sorting-menu h4{
    display: inline-block;
    vertical-align: top;
    color: #000000;
}
.found{
    margin-top: 28px;
    margin-right: 45px;
    margin-left: 3px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}
.sorting{
    margin-top: 35px;
    margin-right: 35px;
}
.sorting-menu span{
    display: inline-block;
    vertical-align: top;
}
.sorting-type{
    margin-top: 35px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0px;
}
.sorting-type ul{
    padding: 0px;
    font-size: 0px;
}
.sorting-type li{
    display: inline-block;
    vertical-align: top;
    margin-right: 33px;
}
.sorting-type a{
    width: 100px;
    color: #b2b2b2;
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.sorting-type a:hover{
    color: #81b3d2;
}
.sorting-type a:active{
    color: #000000;
    border-bottom: none;
}
.sorting-type .sorting-active{
    color: #81b3d2;
    border-bottom: none;
}
.sorting-icon{
    float: right;
    margin-top: 35px;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 20px;
    padding: 0px;
    padding-top: 5px;
    padding-right: 2px;
    text-align: right;
}
.sorting-delta{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    margin-left: 9px;
    width: 11px;
}
.delta-top a{
    margin: 0px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 10px;
    background-position: -20px -690px;
}
.delta-top a:hover{
    background-position: -20px -590px;
}
.delta-top a:active{
    background-position: -20px -640px;
}
.delta-bottom a{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 11px;
    height: 10px;
    background-position: -20px -540px;
}
.delta-bottom a:hover{
    background-position: -20px -440px;
}
.delta-bottom a:active{
    background-position: -20px -490px;
}
.sorting-delta .delta-active{
    background-position: -20px -490px;
}
.hotel{
    border-bottom: 1px solid #e5e5e5;
    min-height: 151px;
    padding-left: 72px;
    padding-right: 72px;
}
.hotel-image{
    width: 135px;
    height: 90px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 0px;
    color: transparent;
}
.description-hotel{
    float: left;
    width: 400px;
}
.description-hotel-link{
    text-decoration: none;
}
.description-hotel-link h4:hover{
    color: #81b3d2;
}
.description-hotel-link h4:active{
    color: #cacaca;
}
.description-hotel h4{
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 7px;
}
.description-hotel-more{
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}
.description-hotel-more span{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.description-hotel-more a{
    display: block;
    background-color: #81b3d2;
    text-decoration: none;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 17px;
    padding-left: 16px;
}
.description-hotel-more a:hover{
    background-color: #669ec0;
}
.description-hotel-more a:active{
    background-color: #5496bd;
    color: #88b6d1;
}
.description-hotel-reservation{
    display: inline-block;
    vertical-align: top;
}
.description-hotel-reservation span{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.description-hotel-reservation a{
    display: block;
    background-color: #766357;
    text-decoration: none;
    font-family: 'PT Sans', 'Calibri', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 18px;
    padding-left: 16px;
}
.description-hotel-reservation a:hover{
    background-color: #604e43;
}
.description-hotel-reservation a:active{
    background-color: #503e33;
    color: #857871;
}
.rating-hotel{
    float: right;
    width: 240px;
    text-align: right;
}
.rating-stars{
    display: block;
    margin-bottom: 46px;
    padding-top: 29px;
}
.rating-stars span{
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    background-position: -20px -1546px;
}
.rating-mark{
    display: inline-block;
    vertical-align: top;
}
.rating-mark span{
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;
    background-color: #f2f2f2;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 13px;
    padding-left: 15px;
}
.footer-lining{
    height: 120px;
    background-color: #fefefe;
}