html{
    box-sizing: border-box;
}
*, *::before, ::after{
    box-sizing: inherit;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans","Calibri",sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
h3{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans","Calibri",sans-serif;
}
h4{
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: "PTSans","Calibri",sans-serif;
}
.clearfix::after{
    content: "";
    display:table;
    clear:both;
}
.main-block{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px -1px #737373;
}
.main-header{
    position: relative;
    min-height: 56px;
    padding-top: 1px;
    font-size: 0px;
}
.main-menu{
    padding: 0px;
    padding-top: 12px;
}
.main-menu li{
    float: left;
    width: 20%;
    height: 100%;
    list-style: none;
    text-align: center;
}
.main-menu li:nth-child(2){
    margin-right: 20%;
}
.main-menu a{
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.logotip{
    position: absolute;
    left: 531px;
    top: -1px;
    font-size: 0px;
    color: transparent;
    z-index: 10;
}
.main-image-sedona{
    position: relative;
    height: 508px;
    background-image: url(../img/background_photo.jpg);
    background-repeat: no-repeat;
    background-position: 0px -57px;
}
.main-image-sedona::before{
    content: "";
    position:absolute;
    bottom: 0px;
    height: 57px;
    width: 1200px;
    background-image: url(../img/Shape.png);
    background-repeat: no-repeat;
}
.sedona-img{
    position: absolute;
    width: 458px;
    height: 78px;
    top: 214px;
    left: 50%;
    margin-left: -229px;
}
.welcome{
    position: absolute;
    width: 256px;
    height: 86px;
    top: 76px;
    left: 50%;
    margin-left: -128px;
}
.sucks{
    position: absolute;
    width: 296px;
    height: 80px;
    top: 348px;
    left: 50%;
    margin-left: -148px;
}
.description{
    min-height: 216px;
    padding-top: 60px;
    padding-bottom: 1px;
    text-align: center;
}
.description h4{
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.description p{
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.block-advantage{
    min-height: 256px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
}
.block-advantage h4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.block-advantage p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.advantage-left{
    float: left;
    height: 256px;
    width: 400px;
    padding-top: 25px;
    background-color: #81b3d2;
}
.number{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.number::before{
    content: "";
    position: absolute;
    left: 175px;
    top: 10px;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.5;
}
.number::after{
    content: "";
    position: absolute;
    right: 175px;
    top: 10px;
    display: block;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.5;
}
.advantage-left h4{
    margin-bottom: 25px;
    width: 125px;
}
.advantage-left .number{
    margin-bottom: 20px;
}
.advantage-left p{
    width: 280px;
}
.advantage-image{
    height: 256px;
    width: auto;
}
.row-menu{
    min-height: 330px;
}
.column-menu{
    position: relative;
    float: left;
    min-height: 330px;
    width: 400px;
    padding-top: 130px;
    text-align: center;
}
.housing::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    background-position: -20px -475px;
}
.food::before{
    content: "";
    position: absolute;
    top: 60px;
    left: 162px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
    background-position: -20px -20px;
}
.souvenirs::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 167px;
    display: block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    background-position: -20px -760px;
}
.column-menu a{
    display: block;
    margin-bottom: -7px;
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
}
.column-menu p{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.advantage-right{
    float: right;
    height: 256px;
    width: 400px;
    padding-top: 26px;
    background-color: #81b3d2;
}
.advantage-right h4{
    margin-bottom: 25px;
    width: 160px;
}
.advantage-right .number{
    margin-bottom: 20px;
}
.advantage-right p{
    width: 320px;
}
.row-advantage{
    min-height: 256px;
    background-color: #eeeeee;
}
.column-advantage{
    float: left;
    min-height: 256px;
    width: 400px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 0.5px;
}
.column-advantage h4{
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.number-row{
    margin-bottom: 22px;
}
.column-advantage p{
    display: block;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}
.number-row::before{
   background-color: #000000;
   opacity: 0.5;
}
.number-row::after{
    background-color: #000000;
    opacity: 0.5;
}
.interested{
    position: relative;
    min-height: 290px;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: center;
}
.interested h3{
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 27px;
}
.interested p{
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.button-search{
    position: absolute;
    bottom: 0px;
    left: 316px;
    width: 567px;
    height: 85px;
    padding-top: 30px;
    background-color: #766357;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
}
.popup-form{
    position: absolute;
    top: 290px;
    left: 316px;
    min-height: 396px;
    width: 567px;
    box-shadow: 0 0 5px -1px #737373;
    background-color: #ffffff;
    z-index: 20;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    padding: 55px;
}
.popup-form-control{
    margin-bottom: 30px;
    position:relative
}
.popup-form-control::before{
    content: "";
    position: absolute;
    top: 7px;
    right: 10px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 22px;
    background-position: -20px -130px;
    opacity: 0.3;
}
.popup-form-control input{
    display: block;
    float: right;
    width: 346px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}
.popup-form-control label{
    float: left;
    margin-top: 5px;
}
.popup-form-control-half:nth-child(1){
    width: 50%;
    float: left;
}
.popup-form-control-half:nth-child(2){
    float: right;
    width: 176px;
}
.popup-form-control-half label{
    float: left;
    margin-top: 5px;
}
.popup-form-count{
    float: right;
    display: block;
    width: 114px;
    height: 38px;
    background-color: #f2f2f2;
    padding: 0px;
}
.popup-form-count input{
    width: 30px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
}
.popup-form-count button{
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    border: none;
    opacity: 0.3;
}
.popup-control-bottom{
    margin-bottom: 53px;
}
.button-popup{
    display: block;
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}
.button-popup:hover{
    background-color: #669ec1;
}
.button-popup:active{
    background-color: #5596be;
    color: #92bbd7;
}
.map{
    position: relative;
    height: 594px;
    background-image: url(../img/map.jpg);
}
.main-footer{
    outline: 1px solid grey; /*временно*/
    margin-top: -120px;
    min-height: 120px;
    width: 1200px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 1px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.9;
}
.visit-sedona{
    float: left;
    width: 245px;
    margin-right: 82px;
    margin-left: 5px;
    margin-top: 45px;
    opacity: 1;
}
.visit-sedona a{
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.social-list{
    outline: 1px solid red; /*временно*/
    float: left;
    width: 400px;
    opacity: 1;
}
.social-net{
    margin-top: 35px;
    margin-right: 55px;
}
.social-net li{
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    text-align: center;
    font-size: 0px;
    color: transparent;
}
.social-btn{
    display:block;
    width: 46px;
    height: 48px;
    background-color: #82b3d3;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.social-btn-twitter{
    background-position: -5px -917px;
}
.social-btn-fb{
    background-position: -2px -403px;
}
.social-btn-youtube{
    background-position: -7px -972px;
}
.development{
    outline: 1px solid red; /*временно*/
    float: right;
    width: 245px;
    opacity: 1;
}
.hotels-form{
    outline: 1px solid grey; /*временно*/
    min-height: 216px;
    background-image: url(../img/filter_background.jpg);
    border-top: 1px solid transparent;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 30px;
}
.form-checkboxes-left{
    outline: 1px solid red; /*временно*/
    float: left;
    width: 250px;
}
.form-checkboxes-right{
    outline: 1px solid red; /*временно*/
    width: 250px;
    float: left;
}
.sorting-menu{
    outline: 1px solid grey; /*временно*/
    min-height: 87px;
    padding-top: 1px;
    padding-left: 72px;
    padding-right: 72px;
}
.sorting-menu h4{
    display: inline-block;
    vertical-align: top;
}
.sorting-menu span{
    display: inline-block;
}
.sorting-type{
    outline: 1px solid grey; /*временно*/
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.sorting-type li{
    display: inline-block;
    vertical-align: top;
}
.sorting-type a{
    outline: 1px solid red; /*временно*/
    display: block;
    width: 100px;
}
.hotel{
    outline: 1px solid grey; /*временно*/
    min-height: 151px;
    padding-left: 72px;
    padding-right: 72px;
}
.hotel a{
    outline: 1px solid grey; /*временно*/
    float: left;
    font-size: 0px;
    color: transparent;
}
.description-hotel{
    outline: 1px solid grey; /*временно*/
    float: left;
    width: 300px;
}
.rating-hotel{
    outline: 1px solid grey; /*временно*/
    float: right;
    height: 100px;
    width: 240px;
}
.footer-lining{
    height: 120px;
    background-color: #fefefe;
}
/* Стили спрайта
.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-big-mac {
    width: 74px;
    height: 70px;
    background-position: -20px -20px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -20px -130px;
}

.sprite-checkbox-off {
    width: 22px;
    height: 22px;
    background-position: -20px -192px;
}

.sprite-checkbox-on {
    width: 26px;
    height: 22px;
    background-position: -20px -254px;
}

.sprite-delta-bottom {
    width: 11px;
    height: 10px;
    background-position: -20px -316px;
}

.sprite-delta-top {
    width: 11px;
    height: 10px;
    background-position: -20px -366px;
}

.sprite-facebook-icon {
    width: 10px;
    height: 19px;
    background-position: -20px -416px;
}

.sprite-house {
    width: 75px;
    height: 72px;
    background-position: -20px -475px;
}

.sprite-html_academy-logo {
    width: 113px;
    height: 39px;
    background-position: -20px -587px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -20px -666px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -20px -709px;
}

.sprite-present {
    width: 64px;
    height: 76px;
    background-position: -20px -760px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: -20px -876px;
}

.sprite-twitter-icon {
    width: 17px;
    height: 15px;
    background-position: -20px -933px;
}

.sprite-youtube-icon {
    width: 20px;
    height: 16px;
    background-position: -20px -988px;
}
*/